<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h3>DRAFTS</h3>
<% @questions.drafted.each do |question| %>
<%= link_to user_question_path(@current_user, question) do %>
  <div class="question">
    <h3>Title: <%= question.title %></h3>
  <% end %>
    <h4><%= question.content %></h4>
    <%= link_to 'edit', edit_user_question_path(@current_user, question) %>
    <%= link_to 'delete', user_question_path(@current_user, question), method: :delete %>
    <br>
    <br>
  </div>
  <% end %>

<h3>PUBLISHED</h3>
<% @questions.published.each do |question| %>
<%= link_to user_question_path(@current_user, question) do %>
  <div class="question">
    <h3>Title: <%= question.title %></h3>
  <% end %>
    <h4><%= question.content %></h4>
    <%= link_to 'edit', edit_user_question_path(@current_user, question) %>
    <%= link_to 'delete', user_question_path(@current_user, question), method: :delete %>
    <br>
    <br>
  </div>
<% end %>
