<%= javascript_pack_tag 'comment' %>

<div id='comment-form' style='display: none;'>
  <%= render 'comment_form' %>
</div>


<h2>Title: <%= @question.title %></h2>
<h3>Content: <%= @question.content %></h3>
<div class='comment', id="Question<%= @question.url_slug %>">
  <%= link_to 'comment', '#', class: 'comments', data: {path: create_comment_path, commentable_type: 'Question', commentable_id: @question.url_slug }, remote: true %>
</div>

<%= form_with model: @answer, url: answers_path do |form| %>
  <div class="field">
    <%= form.label :user_answer, t('.answer') %>
    <%= form.text_area :user_answer, cols: 50, rows: 3 %>
  </div>
  <%= form.hidden_field :question, value: @question.url_slug %>
  <div class="button">
    <%= form.submit value: "submit answer" %>
  </div>
<% end %>

<% if @answers.present? %>
  <% @answers.each do |answer| %>
    <div class='answer'>
      <%= answer.content %>
      <div class='comment', id="Answer<%= @question.url_slug %>">
        <%= link_to 'comment', '#', class: 'comments', data: {path: create_comment_path, commentable_type: 'Answer', commentable_id: @question.id, remote: true} %>
      </div>
    </div>
  <% end %>
<% end %>
