<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%= form_with do %>
  <div class="field">
    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, t('.confirm_password') %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="field">
    <%= hidden_field_tag :user_id, params[:id] %>
  </div>

  <div class="button">
    <%= submit_tag t('.update_password') %>
  </div>
<% end %>
