<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>Question</h3>

<%= form_with model: @question, url: '/submit_question', method: 'post' do |form| %>
  <div class="field">
    <%= form.label :title, t('.title') -%>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, t('.content') -%>
    <%= form.text_area :content, cols: 50, rows: 7 %>
  </div>

  <div class="field">
    <%= form.label :pdfs, t('.attach_pdfs') -%>
    <%= form.file_field :pdfs, accept: 'application/pdf', multiple: true %>
  </div>

  <div class="select">
    <%= form.label 'topics' %>
    <%= form.select 'topics', @topics.map { |topic| [ p=topic.name, topic.id ] }, {prompt: true, include_hidden: false}, {multiple: true} %>
  </div>

  <div class="button">
    <%= form.submit value: "published" -%>
    <%= form.submit value: "drafts" %>
  </div>
<% end %>
