<%= link_to 'ask question', new_user_question_path(@current_user) -%> |
<%= link_to 'user questions', user_questions_path(@current_user) %>

<h2>Question Factory</h2>
<% @questions.each do |question| %>
  <%= link_to user_question_path(@current_user, question) do %>
  <div class="question-container">
    <div class="question">
      <h3><strong>Q:</strong> <%= question.title %></h3>
      <% end %>
    </div>
    <div class="question-content">
      <h4><%= question.content %></h4>
    </div>
    <br>
  </div>
<% end %>
