<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%= form_with do %>
  <div class="field">
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, 'Confirm Password:' %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="field">
    <%= hidden_field_tag :user_id, params[:id] %>
  </div>

  <div class="button">
    <%= submit_tag 'update password' %>
  </div>
<% end %>
