<h2>Edit Profile</h2>
<%= form_with model: @current_user, url: profile_edit_user_path do |f| %>
  <div class="field">
    <%= f.label :profile_image, t('.upload_profile_image') %>
    <%= f.file_field :profile_image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <%= submit_tag %>
<% end %>
<%= link_to t('.back'), profile_user_path %>
