<%= javascript_pack_tag 'selection_box_change' %>

<h2>Edit Profile</h2>
<%= form_with model: @current_user, url: user_path do |f| %>
  <div class="field">
    <%= f.label :profile_image, t('.upload_profile_image') %>
    <%= f.file_field :profile_image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <div class="select">
    <%= f.label 'topic_id' %>
    <%= f.select 'topic_id', options_for_select(@topics.map { |topic| [ topic.name, topic.id ] }, @current_user.topic_ids) , {}, {multiple: true, class: 'selection-box'} %>
  </div>

  <%= submit_tag %>
<% end %>
<%= link_to t('.back'), user_path %>
