<!DOCTYPE html>
<html>
  <head>
    <title>Quora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <aside id="notice"><%= notice %></aside>
    <% end %>

    <%= yield %>
    <% if @current_user %>
      <li><%= button_to 'Logout', logout_path, method: :delete %></li>
    <% end %>
  </body>
</html>
